[user]
	name = Aaron Kuehler
	email = aaron@hoopla.net
[core]
	editor = emacs
	excludesfile = ~/.gitignore
[color]
	ui = true
[alias]
	co  = checkout
	cb  = checkout -b
	db  = branch -d
	rclone = clone --recursive
[clean]
	requireForce = false